@page "/about"
    <div class="pagecontainer mt-5 p-3">
        <!-- ======= About Me ======= -->
        <div class="about-me container ">

            <div class="section-title">
                <h2>About</h2>
                <p>Learn more about me</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="../img/prop.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>C# .NET Developer </h3>
                    <p class="font-italic">
                        Driven software developer with a passion for learning, with several years of experience self-organisation &amp; achieving goals.
                        <a href="https://www.twilio.com/champions">Twilio Champion</a> & <a href="https://livecoders.dev/" >LiveCoder</a>
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                             
                                <li><i class="oi oi-arrow-right"></i> <strong>Email:</strong> davindavies@outlook.com</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Phone:</strong> On Request</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Location:</strong> South Wales</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Age:</strong>@(DateTime.Now.Year - 1978)</li>
                            <li><i class="oi oi-arrow-right"></i> <strong>Pronouns:</strong>He/Him</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="oi oi-arrow-right"></i> <strong>Degree</strong> BSc(hons) Comp & IT</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Degree:</strong> MSc Computer Science</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Status:</strong> Available</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Location:</strong> Fully Remote</li>
                            <li><i class="oi oi-arrow-right"></i> <strong>Type:</strong> Part-Time</li>
                            </ul>
                        </div>
                    </div>
                    <p>
                    I am driven by gaining new knowledge and skills, whilst improving my current ones. This drive saw me complete a BSc (Hons)Comp& IT and MSc CS, I do a lot of extra courses on a wide variety of topics from online courses to expand my knowledge and appreciation of other people point of views. Due to my anxiety issues I do require Part-time fully Remote work
                </p>
                </div>
            </div>
        </div>
        <!-- End About Me -->

        <div class="skills container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">
                    <h5><u>Proficient</u></h5>
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>C#</strong> </li>                       
                        <li><i class="oi oi-check"></i> <strong>.Net</strong> </li>                      
                        <li><i class="oi oi-check"></i> <strong>Entity Framework Core</strong> </li>                     
                    <li><i class="oi oi-check"></i> <strong>Blazor</strong> </li>
                    </ul>

                </div>

                <div class="col-lg-6">
                    <h5><u>Working Knowledge</u></h5>
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>Javascript</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>MongoDB</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Azure B2C</strong> </li>                       
                        <li><i class="oi oi-check"></i> <strong>Xamarin.Forms</strong> </li>
               
                    </ul>
                </div>

            </div>

        </div>
        @*TODO Add Links to appropriate sites*@
        <div class="interests container ">

            <div class="section-title">
                <h2>Interests</h2>
            </div>

            <div class="row ">
                  @foreach (var interest in Interests)
                 {
                     <InterestCard Interest="interest"/>
                 }           
            </div>
        </div><!-- End Interests -->
    </div>
@code {
    public List<InterestItem> Interests { get; set; } = new List<InterestItem>();

    protected override void OnInitialized()
    {
        Interests = new List<InterestItem>()
        {
            new InterestItem(){Title="LiveCoding", Icon="oi-code",IconColor="#8307e4;" },
            new InterestItem(){Title="MOOCs", Icon="oi-lightbulb",IconColor="#ffbb2c;" },
            new InterestItem(){Title="Gardening", Icon="oi-sun",IconColor="#5578ff;" },
            new InterestItem(){Title="AudioBooks", Icon="oi-document",IconColor="#e80368;" },
            new InterestItem(){Title="Computer Gaming", Icon="oi-tablet",IconColor="#e361ff" },
            new InterestItem(){Title="Ethics", Icon="oi-bolt",IconColor="#47aeff;" },
            new InterestItem(){Title="Education", Icon="oi-book",IconColor="#a7becc;" },
            new InterestItem(){Title="Cooking", Icon="oi-badge",IconColor="#366e1d;" }
        };
        StateHasChanged();
       
    }
}
