@page "/about"
    <div class="pagecontainer mt-5 p-3">
        <!-- ======= About Me ======= -->
        <div class="about-me container ">

            <div class="section-title">
                <h2>About</h2>
                <p>Learn more about me</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="../img/prop.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>C# .NET Developer </h3>
                    <p class="font-italic">
                        Driven software developer with a passion for learning, with several years of experience self-organisation &amp; achieving goals.
                    </p>
                    <div class="row">
                        <div class="col-lg-7">
                            <ul>
                                @*TODO get Twilio numer to route incoming mobile calls and messages through*@
                                <li><i class="oi oi-arrow-right"></i> <strong>Email:</strong> davindavies@outlook.com</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Phone:</strong> (+44) 07903121755</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Location:</strong> South Wales</li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <ul>
                                <li><i class="oi oi-arrow-right"></i> <strong>Age:</strong>42</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Education:</strong> Master</li>
                                <li><i class="oi oi-arrow-right"></i> <strong>Job Status:</strong> Available</li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        I have wide intrest in computing technology, whilst I use C# daily, I enjoy the oppurtunity to learn about other languages and technology. I stream on Twitch (copperbeardy) several times a week to share this interest.
                    Despite having anxiety and depression issues that limits to me looking for fully remote work. I have managed my time and work for 8 year during my degress in this situation </p>
                </div>
            </div>
        </div>
        <!-- End About Me -->

        <div class="skills container">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">
                    <h5><u>Proficient</u></h5>
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>C#</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>VB.Net</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>.Net/.Net Core</strong> </li>                       
                        <li><i class="oi oi-check"></i> <strong>asp.Net /Asp.Net Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Entity Framework Core</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Visual Studio</strong> </li>
                    </ul>

                </div>

                <div class="col-lg-6">
                    <h5><u>Working Knowledge</u></h5>
                    <ul>
                        <li><i class="oi oi-check"></i> <strong>Javascript</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Azure B2C</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Java</strong> </li>
                        <li><i class="oi oi-check"></i> <strong>Xamarin.Forms</strong> </li>                       
                    </ul>
                </div>

            </div>

        </div>
        @*TODO Add Links to appropriate sites*@
        <div class="interests container ">

            <div class="section-title">
                <h2>Interests</h2>
            </div>

            <div class="row ">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="oi oi-code" style="color: #8307e4;"></i>
                        <h3>Live Coding</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="oi oi-lightbulb" style="color: #ffbb2c;"></i>
                        <h3>MOOC Course's</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="oi oi-sun" style="color: #5578ff;"></i>
                        <h3>Gardening</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="oi oi-document" style="color: #e80368;"></i>
                        <h3>AudioBooks</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mb-4">
                    <div class="icon-box">
                        <i class="oi oi-tablet" style="color: #e361ff;"></i>
                        <h3>Computer Gaming</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mb-4">
                    <div class="icon-box">
                        <i class="oi oi-bolt" style="color: #47aeff;"></i>
                        <h3>Ethic's</h3>
                    </div>
                </div>

            </div>

        </div><!-- End Interests -->
    </div>
    @code {

    }
