@page  "/Contact"

    <div class="pagecontainer mt-5 p-3">
       
            <div class="container contact">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Me</p>
                </div>
                <div class="mb-3">
                    <div class="row mt-2">

                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="info-box">

                                <h3><i class="oi oi-map pr-2"></i>Location</h3>
                                <p class="ml-4">Troedyrhiw, Merthyr Tydfil, Wales, United Kindgom, CF48 4JZ</p>
                            </div>
                        </div>

                        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                            <div class="info-box">

                                <h3><i class="oi oi-share pr-2"></i>Social Profiles</h3>
                                <div class="social-links ml-3 ">
                                    <a class="ml-3" href="https://twitter.com/copperbeardy">
                                        <img style="max-width:25px" src="/img/twitter.png" />
                                    </a>
                                    <a class="ml-3" href="https://www.linkedin.com/in/davindavies/">
                                        <img style="max-width:25px" src="../img/linkedin.png" />
                                    </a>
                                    <a class="ml-3" href="https://github.com/CopperBeardy">
                                        <img style="max-width:25px" src="../img/github.png" />
                                    </a>
                                    <a class="ml-3" href="https://www.twitch.tv/copperbeardy">
                                        <img style="max-width:25px" src="../img/twitch.png" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-4 d-flex align-items-stretch">
                            <div class="info-box">

                                <h3><i class="oi oi-envelope-open pr-2"></i>Email Me</h3>
                                <p class="ml-4">davindavies@outlook.com</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 d-flex align-items-stretch">
                            <div class="info-box">

                                <h3><i class="oi oi-phone pr-2"></i>Call Me</h3>
                                <p class="ml-4">On Request</p>
                            </div>
                        </div>
                    </div>
                </div>
                  
            </div>
      

    </div>
    
@code{

   
}
  