@using Octokit;
@using System.Web;
@page "/Portfolio"
<div class="pagecontainer mt-5 p-3">
    <div class="container portfolio">

        <div class="section-title ">
            <h2>Portfolio</h2>
            <p>My Projects</p>
        </div>
        <div class="container">
            <div class="d-flex row">
                @foreach (var project in Projects)
                {
                    <ProjectCard Link="@project.URI"
                             LinkDisplayText="@project.Name"
                             Description="@project.Description">
                    </ProjectCard>

                }
            </div>
            </div>
            </div>
        </div>

@code {
    public List<ProjectItem> Projects { get; set; } = new List<ProjectItem>();
    protected override async Task OnInitializedAsync()
    {
        var client = new GitHubClient(new ProductHeaderValue("Portfolio-app"), new Uri("https://github.com/"));
        var result = await client.Repository.GetAllForUser("copperbeardy");
        foreach (var item in result)
        {
            Projects.Add(new ProjectItem()
                        {
                            Name = item.Name,
                            URI = item.HtmlUrl
                        });
                }
     
                StateHasChanged();
            }
        }
