@page "/resume"
<div class="pagecontainer mt-5 p-3">
   
        <div class="resume container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Check My Resume</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Davin Davies</h4>
                    <p><em>I am a driven developer who did both my degrees remotely and works on personal projects. leading to a number of years of self managed remote working to meet targets </em></p>
                    <p><em>Troedyrhiw, Merthyr Tydfil, UK </em></p>
                    </div>


                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Live Coding Streamer</h4>
                        <h5>2019 - Present</h5>
                        <p><em>Troedyrhiw, Merthyr Tydfil, UK </em></p>
                        <p>
                            <ul>
                                <li>Determination of content</li>
                                <li>Management of stream channel both on and offline</li>
                                <li>Writing Various code online mainly in C#</li>
                            </ul>
                        </p>
                    </div>


                   
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Master of Computer Science</h4>
                        <h5>2017 - 2020</h5>
                        <p><em>University of Hertfordshire, Hertfordshire, UK</em></p>
                        <p>Advanced study of software engineering, project management and coding paradigms. Also covered Ethics in computing</p>

                    </div>
                    <div class="resume-item">
                        <h4>Bsc(Hons) Computing &amp; IT</h4>
                        <h5>2012 - 2016</h5>
                        <p><em>Open University, Milton Keynes, UK</em></p>
                        <p>Studies focused on the development of software and solution, covering software engineering &amp writing computer code</p>
                    </div>
                    <div class="resume-item">
                        <h4>Moocs</h4>
                        <p>Currently completed 148 Mooc course's,  subject matters vary </p>
                    </div>
                </div>
            </div>

        </div>
   
</div>

@code {

}
