<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bgblack fixed-top">
    <div class="container">
        <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Davin Davies</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
            <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex  flex-sm-row-reverse  " @onclick="CollapseNavMenu">
                <ul class="navbar-nav flex-grow-1 justify-content-end">

                    <li class="nav-item ">
                        <NavLink class="nav-link" href="/">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="about">
                            <span class="oi oi-arrow-bottom" aria-hidden="true"></span> About
                        </NavLink>
                    </li>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="resume">
                            <span class="oi oi-person" aria-hidden="true"></span> Resume
                        </NavLink>
                    </li>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="portfolio">
                            <span class="oi oi-document" aria-hidden="true"></span> Portfolio
                        </NavLink>
                    </li>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="contact">
                            <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact
                        </NavLink>
                    </li>

                </ul>
            </div>
        </div>
    
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}



